# Самостоятельное задание 1 (+1 балл к оценке за курс).

In [ ]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

In [ ]:
!wget https://github.com/Murcha1990/Activities-analysis/raw/main/Data.zip

--2021-07-05 16:05:16--  https://github.com/Murcha1990/Activities-analysis/raw/main/Data.zip
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/Murcha1990/Activities-analysis/main/Data.zip [following]
--2021-07-05 16:05:17--  https://raw.githubusercontent.com/Murcha1990/Activities-analysis/main/Data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16727 (16K) [application/zip]
Saving to: ‘Data.zip’

Data.zip            100%[===================>]  16.33K  --.-KB/s    in 0s

2021-07-05 16:05:17 (68.7 MB/s) - ‘Data.zip’ saved [16727/16727]

In [ ]:
!unzip Data.zip

Archive:  Data.zip
   creating: Data/
  inflating: Data/Students_info_0.csv
  inflating: Data/Students_info_1.csv
  inflating: Data/Students_info_2.csv
  inflating: Data/Students_info_3.csv
  inflating: Data/Students_info_4.csv
  inflating: Data/Students_info_5.csv
  inflating: Data/Students_info_6.csv
  inflating: Data/Students_info_7.csv
  inflating: Data/Students_info_8.csv
  inflating: Data/Students_info_9.csv
  inflating: Data/Students_marks_0.csv
  inflating: Data/Students_marks_1.csv
  inflating: Data/Students_marks_2.csv
  inflating: Data/Students_marks_3.csv
  inflating: Data/Students_marks_4.csv
  inflating: Data/Students_marks_5.csv
  inflating: Data/Students_marks_6.csv
  inflating: Data/Students_marks_7.csv
  inflating: Data/Students_marks_8.csv
  inflating: Data/Students_marks_9.csv

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [ ]:
import os
left = []
right = []
for f in os.listdir('Data'):
  if f[9] == 'i':
    left.append(pd.read_csv("Data/"+f))
  else:
    right.append(pd.read_csv("Data/"+f))

df = pd.concat(left)
rdf = pd.concat(right)

In [ ]:
df = df.join(rdf.set_index('index'), on='index')
df = df.sort_values('index')

In [ ]:
df

    index  gender race/ethnicity  ... math score reading score writing score
0       0  female        group B  ...         72            72            74
1       1  female        group C  ...         69            90            88
2       2  female        group B  ...         90            95            93
3       3    male        group A  ...         47            57            44
4       4    male        group C  ...         76            78            75
..    ...     ...            ...  ...        ...           ...           ...
95    995  female        group E  ...         88            99            95
96    996    male        group C  ...         62            55            55
97    997  female        group C  ...         59            71            65
98    998  female        group D  ...         68            78            77
99    999  female        group D  ...         77            86            86

[1000 rows x 10 columns]

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [ ]:
df = df.drop('index', axis=1)
df

    gender race/ethnicity  ... reading score writing score
0   female        group B  ...            72            74
1   female        group C  ...            90            88
2   female        group B  ...            95            93
3     male        group A  ...            57            44
4     male        group C  ...            78            75
..     ...            ...  ...           ...           ...
95  female        group E  ...            99            95
96    male        group C  ...            55            55
97  female        group C  ...            71            65
98  female        group D  ...            78            77
99  female        group D  ...            86            86

[1000 rows x 9 columns]

#### Задание 3. Выведите на экран размеры полученной таблицы

In [ ]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [ ]:
df.min()[-3:]

math score        0
reading score    17
writing score    10
dtype: object

In [ ]:
df.max()[-3:]

math score       100
reading score    100
writing score    100
dtype: object

In [ ]:
df.mean()[-3:]

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

In [ ]:
df.std()[-3:]

math score       15.163080
reading score    14.600192
writing score    15.195657
dtype: float64

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [ ]:
df.isnull().values.any()

False

Следовательно пропущенных значений нет

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [ ]:
df.mean()[-3:]

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [ ]:
df[df['test preparation course'] == 'none'].mean()[-3:]

math score       64.077882
reading score    66.534268
writing score    64.504673
dtype: float64

In [ ]:
df[df['test preparation course'] == 'completed'].mean()[-3:]

math score       69.695531
reading score    73.893855
writing score    74.418994
dtype: float64

Средние оценки выше у тех, кто проходил курсы для подготовки

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [ ]:
print(df['lunch'].unique())

['standard' 'free/reduced']

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [ ]:
df = df.rename(columns={"parental level of education" : "education", "test preparation course" : "test preparation"})

In [ ]:
df

    gender race/ethnicity  ... reading score writing score
0   female        group B  ...            72            74
1   female        group C  ...            90            88
2   female        group B  ...            95            93
3     male        group A  ...            57            44
4     male        group C  ...            78            75
..     ...            ...  ...           ...           ...
95  female        group E  ...            99            95
96    male        group C  ...            55            55
97  female        group C  ...            71            65
98  female        group D  ...            78            77
99  female        group D  ...            86            86

[1000 rows x 9 columns]

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark > 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

**1. доля студентов, сдавших экзамен по математике**

In [ ]:
(df['math score'] >= passmark).sum() / df.shape[0]

0.865

**1. доля студентов, проходивших курс подготовки к экзамену, сдавших экзамен по математике**

In [ ]:
(df[df['test preparation'] == 'completed']['math score'] >= passmark).sum() / (df['test preparation'] == 'completed').sum()

0.9217877094972067

**1. доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике**

In [ ]:
gals = df[(df['gender'] == 'female') & (df['test preparation'] == 'completed')]
(gals['math score'] < passmark).sum() / gals.shape[0]

0.08695652173913043

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
%%time
df.groupby(['race/ethnicity'])['reading score'].mean()

CPU times: user 2.59 ms, sys: 0 ns, total: 2.59 ms
Wall time: 2.75 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [ ]:
%%time
df.groupby(['education'])['writing score'].min()

CPU times: user 2.38 ms, sys: 0 ns, total: 2.38 ms
Wall time: 2.44 ms

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
%%time
for g in df['race/ethnicity'].unique():
  print(f'{g}: {df[df["race/ethnicity"] == g]["reading score"].mean()}')

group B: 67.35263157894737
group C: 69.10344827586206
group A: 64.67415730337079
group D: 70.03053435114504
group E: 73.02857142857142
CPU times: user 11.7 ms, sys: 1.07 ms, total: 12.7 ms
Wall time: 16.6 ms

In [ ]:
%%time
for e in df['education'].unique():
  print(f'{e}: {df[df["education"] == e]["writing score"].min()}')

bachelor's degree: 38
some college: 19
master's degree: 46
associate's degree: 35
high school: 15
some high school: 10
CPU times: user 11.4 ms, sys: 0 ns, total: 11.4 ms
Wall time: 15.4 ms

Даже с использованием встроенных функций *pandas.DataFrame.mean* и проч. код с циклами работает дольше

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
pd.pivot_table(df,index=['gender','education'])

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
math_stats = ['F' if x < passmark else 'P' for x in df['math score'].values]
df['Math_PassStatus'] = math_stats

r_stats = ['F' if x < passmark else 'P' for x in df['reading score'].values]
df['Reading_PassStatus'] = r_stats

w_stats = ['F' if x < passmark else 'P' for x in df['writing score'].values]
df['Writing_PassStatus'] = w_stats



df

    gender race/ethnicity  ... Reading_PassStatus Writing_PassStatus
0   female        group B  ...                  P                  P
1   female        group C  ...                  P                  P
2   female        group B  ...                  P                  P
3     male        group A  ...                  P                  F
4     male        group C  ...                  P                  P
..     ...            ...  ...                ...                ...
95  female        group E  ...                  P                  P
96    male        group C  ...                  P                  P
97  female        group C  ...                  P                  P
98  female        group D  ...                  P                  P
99  female        group D  ...                  P                  P

[1000 rows x 12 columns]

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
overall_stats = []
for i in range(df.shape[0]):
  if df['math score'].values[i] > passmark and \
     df['writing score'].values[i] > passmark and \
     df['reading score'].values[i] > passmark:
     overall_stats.append('P')
  else:
    overall_stats.append('F')

df['OverAll_PassStatus'] = overall_stats

In [ ]:
df

    gender race/ethnicity  ... Writing_PassStatus OverAll_PassStatus
0   female        group B  ...                  P                  P
1   female        group C  ...                  P                  P
2   female        group B  ...                  P                  P
3     male        group A  ...                  F                  F
4     male        group C  ...                  P                  P
..     ...            ...  ...                ...                ...
95  female        group E  ...                  P                  P
96    male        group C  ...                  P                  P
97  female        group C  ...                  P                  P
98  female        group D  ...                  P                  P
99  female        group D  ...                  P                  P

[1000 rows x 13 columns]

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####      90 и больше = A
####      80-89 = B
####      70-79 = C
####      60-69 = D
####      50-59 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [ ]:
import numpy as np

def GetGrade(average_mark):
    m = ''
    if average_mark >= 90:
      m = 'A'
    elif average_mark >= 80:
      m = 'B'
    elif average_mark >= 70:
      m = 'C'
    elif average_mark >= 60:
      m = 'D'
    elif average_mark >= 60:
      m = 'E'
    else:
      m = 'F'
    return m

overall_stats = []
for i in range(df.shape[0]):
  a = df['math score'].values[i]
  b = df['writing score'].values[i]
  c = df['reading score'].values[i]
  overall_stats.append(GetGrade(np.mean([a, b, c])))

df['OverAll_PassStatus'] = overall_stats

In [ ]:
df

    gender race/ethnicity  ... Math_PassStatus OverAll_PassStatus
0   female        group B  ...               P                  C
1   female        group C  ...               P                  B
2   female        group B  ...               P                  A
3     male        group A  ...               F                  F
4     male        group C  ...               P                  C
..     ...            ...  ...             ...                ...
95  female        group E  ...               P                  A
96    male        group C  ...               P                  F
97  female        group C  ...               P                  D
98  female        group D  ...               P                  C
99  female        group D  ...               P                  B

[1000 rows x 11 columns]